## Server 
NODE_ENV=development
HOST=localhost
PORT=3000

## Rate limiting
## Global 
THROTTLE_TTL=60000 ## 1 minute
THROTTLE_LIMIT=100
THROTTLE_BLOCK_DURATION=300000 ## 5 minutes
## Default per route
THROTTLE_DEFAULT_TTL=60000
THROTTLE_DEFAULT_LIMIT=10
THROTTLE_DEFAULT_BLOCK_DURATION=300000


## CORS 
CORS_ORIGIN=http://localhost:4028
CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
CORS_ALLOWED_HEADERS=Content-Type, Accept, Authorization
CORS_CREDENTIALS=true

## JWT
JWT_ACCESS_SECRET=your_access_secret_key
JWT_ACCESS_TTL=15m
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_REFRESH_TTL=7d

## LOG 
LOG_LEVEL=debug
LOG_DIR=logs
LOG_FILE_NAME=app
LOG_MAX_SIZE_MB=5
LOG_MAX_FILES_DAYS=14

## REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1 ## redis-cli -n 1

## MONGODB
MONGO_URI=mongodb://localhost:27018/restaurant_manager?replicaSet=rs0&directConnection=true

## MAIL SERVICE 
SMTP_SERVICE=gmail
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_email_app_password

## GOOGLE OAUTH2
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:3000/auths/google/callback

## CLIENT 
CLIENT_URL=http://localhost:4028/

## QUICK QR
PAYMENT_BANK_ID=bank_id
PAYMENT_ACCOUNT_NUMBER=account_no
PAYMENT_TEMPLATE=compact
